<h1>Cookies</h1>

<div>
    <form action="/api/cookies" method="POST">
    <input type="text" name="user" placeholder="name">
    <br/>
    <input type="text" id="email" name="email" placeholder="email">
    <br/>
    <button class="btn btn-sucess">Submit</button>
    <br/>
    </form>
    <button class="btn btn-sucess" onclick="getCookies()">recuperar</button>
</div>

<script>
    const getCookies = async () => {
        const data= await fetch('/api/cookies/get');
        const jsonData = await data.json();
        console.log(jsonData)
    }
</script>