<div class="loginContainer"><h1>Login</h1>
    <form action="/api/users/login" method="POST">
    <input type="text" name="username" placeholder="username" id="username">
    <br/>
    <input type="password" name="password" placeholder="password" id="password">
    <br/>
    <button class="btn btn-sucess">Submit</button>
    <br/>
    </form>
</div>