
<div class="loginContainer"><h1>Login</h1>
    <form action="/api/users/jwtlogin" method="POST">
    <input type="text" name="username" placeholder="username" id="username">
    <br/>
    <input type="password" name="password" placeholder="password" id="password">
    <br/>
    <button class="btnLogin">Ingresar</button>
    <br/>
    </form>
    <button class="btnLogin" onclick="window.location.replace('/api/users/ghlogin')">Github</button>
    <h2>No tienes cuenta? <a href="/register">Registrate</a></h2>
</div>