<div class="realTimeProducts">
    <h1>Real Time Products</h1>

    <div class="createProduct">
        <h2>Create Product</h2>
        <form id="productForm">
            <input type="text" name="title" placeholder="Title" required />
            <input type="text" name="description" placeholder="Description" required />
            <input type="text" name="code" placeholder="Code" required />
            <input type="number" name="price" placeholder="Price" required />
            <input type="text" name="status" placeholder="Status" required />
            <input type="number" name="stock" placeholder="Stock" required />
            <input type="text" name="category" placeholder="Category" required />
            <input type="text" name="thumbnail" placeholder="Thumbnail URL" required />
            <button type="submit">Create Product</button>
        </form>
    </div>

    <div class="newProductsContainer">
    </div>
    
    <div class="productsContainer">
        {{#each products}}
                <div class="product">
                    <p>{{this.title}}</p>
                    <img src={{this.thumbnail}}>
                    <p>${{this.price}}</p>
                    <p>{{this.description}}</p>
                </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>