<div class="registerContainer">
    <p>{{data}}</p>
    <h1>Register</h1>
    <form action="/api/users/register" method="POST">
    <br/>
    <input type="text" name="firstName" placeholder="firstName" id="firstName">
    <br/>
    <input type="text" name="lastName" placeholder="lastName" id="lastName">
    <br/>
    <input type="text" name="email" placeholder="email" id="email">
    <br/>
    <input type="password" name="password" placeholder="password" id="password">
    <br/>
    <button class="btnRegister">Submit</button>
    <br/>
    </form>
    <h2>¿Ya tienes cuenta? <a href="/login">Login</a></h2>
</div>