*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #ffe6e7;
    height: 100vh;
}
.navBar{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    height: 10vh;
}
.navBar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
}

h1{
    text-align: center;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

.cartItem{
    display: grid;
    background-color: #e2e2e2;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    width: 50%;
    grid-template-areas: 
    "image details"
    ;
}
.cartItem img{
    grid-area: image;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin-top: 3%;
}
.cartItemDetails{
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}