*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #ffe6e7;
}
.navBar{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    height: 10vh;
}
.navBar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
h1{
    color: rgb(35, 35, 39);
    text-align: center;
}
.createProduct{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#productForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    animation-duration: 2s;
    animation-name: aparecer;
    box-shadow: -1px 3px 16px -1px rgba(0,0,0,0.74);
}
@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
#productForm input{
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
#productForm input:hover{
    transition: .2s;
    box-shadow: -1px 3px 16px -4px #f27121;
}
#submit{
    transition: .3s;
    background-color: rgb(35, 35, 39);
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    margin: 10px;
}
#submit:active{
    transition: .3s;
    transform: scale(0.9);
    background-image: linear-gradient(to right, #f27121, #e94057, #8a2387);
}