h1{
    color: rgb(35, 35, 39);
    text-align: center;
}
.createProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createProduct form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    text-align: center;
    max-width: 300px;
    min-width: min-content;
    border-radius: 10px;
}
.newProductsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.newProduct{
    border: 1px solid black;
    background-color: #f7e6b8;
    margin: 10px;
    padding: 5px;
    text-align: center;
    max-width: 300px;
    min-width: min-content;
    border-radius: 10px;
}
.newProduct image{
    max-width: 200px;
}